pipeline/pipeline/getmodified.json
{
	"name": "getmodified",
	"properties": {
		"activities": [
			{
				"name": "getlastmodified",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT LastModified FROM WatermarkTracking WHERE TableName = 'customers'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DestinationDataset_uid",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "getdata",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getlastmodified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT * FROM [dbo].[`customers`] WHERE LastModified > ''', activity('GetLastModified').output.firstRow.LastModified, '''')\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false
				},
				"inputs": [
					{
						"referenceName": "DestinationDataset_uid",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "updation_dataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "updatewatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "getdata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateWatermark]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-06-29T13:13:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}